{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div style="text-align: center">
        <h3>Please Login</h3>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% bootstrap_form form layout='inline'%}
                <input type="submit" value="Login" class="btn btn-danger">
            </form>
    </div>
</body>
</html>