{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "site-style.css" %}"/>
        <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>Tweetie Game</title>
</head>
<body>

    <div id="header">
        <h1 class="title">Tweetie Game</h1>
    </div>

    <div id="container">
        <div class="round">
            Round {{ game.round }} of 6
        </div>
        <div class="player1score">
            <span>Player 1
                  Score: {{ game.player1score }}</span>
        </div>
        <div class="player2score">
            <span>Player 2
                  Score: {{ game.player2score }}</span>
        </div>

            {% if game.completed %}
                <form action="" method="post">
                {% csrf_token %}
                    YAYE!!!!  {{ winner }} YOU WIN!!!!!
                <div style="text-align: center;">
                <input type="submit" value="Refresh"/>
                </div>
                </form>
            {% else %}
                {% if user.id == game.form_player_id %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="round">
                        <h3>Please enter a word to start this turn:</h3>
                        {% bootstrap_form form layout='inline'%}
                        <input type="submit" value="Submit" />
                        </div>
                    </form>
                    {% if user.id != game.give_player_id %}
                        <h3>The other player has given you the word:</h3>
                        <h1>{{ game.giveword }}</h1>
                    {% endif %}
                {% else %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <h3>Please wait for the other player to submit:</h3>
                        <div style="text-align: center">
                        <input type="submit" value="Refresh"/>
                        </div>
                    </form>

                {% endif %}
            {% endif %}
            </div>
    </div>



    
    <div id="footer">
        {% for tweets in twitter_dict.tweets %}
            <blockquote class="twitter-tweet">{{ tweets }}</blockquote>
        {% endfor %}
    </div>
</body>
</html>

